<footer class="main-footer">
  <div class="footer-container">
    <div class="footer-column">
      <span class="column-title">Administration contacts:</span>
      <a href="mailto:lorem.ipsum@gmail.com" class="footer-link">lorem.ipsum@gmail.com</a>
      <span class="footer-text">+380(xx)-xxx-xx-xx</span>
    </div>

    <div class="footer-column alignment-right">
      <span class="column-title">Location:</span>
      <span class="footer-text">Ukraine, Kyiv, Lorem Ipsum</span>
    </div>
  </div>
</footer>
