<header class="main-header">
  <div class="header-container">

    <div class="header-left" routerLink="/courses">
      <div class="avatar-placeholder">
        <img [ngSrc]="'/Icons/default-user-avatar.png'" alt="Avatar Icon" fill priority>
      </div>
    </div>

    <div class="header-center">
      <div class="profile-title-group">
        <span class="username-static">{{ userName || 'Username' }}</span>
        <span class="divider">|</span>
        <span class="header-page-title">Profile information</span>
      </div>
    </div>

    <div class="header-right">
      <div class="header-icon-box">
        <img [ngSrc]="'/Icons/blooms-flower.png'" alt="Flower Icon" fill>
      </div>
    </div>

  </div>
</header>
