@if (!isLoading && data) {
  <div class="test-container">
    <h1>{{ data.info.title }}</h1>
    <p>{{ data.info.description }}</p>

    <section class="attempts-section">
      <h2>Ваші спроби</h2>
      <table>
        <thead>
        <tr>
          <th>Дата</th>
          <th>Бал</th>
          <th>Статус</th>
        </tr>
        </thead>
        <tbody>
          @for (attempt of data.attempts; track attempt.id) {
            <tr>
              <td>{{ attempt.date | date:'short' }}</td>
              <td>{{ attempt.score }}%</td>
              <td>{{ attempt.isPassed ? 'Пройдено' : 'Не пройдено' }}</td>
            </tr>
          }
        </tbody>
      </table>
    </section>

    <section class="recommendations-section">
      <h2>Рекомендації для вас</h2>
      <ul>
        @for (rec of data.recommendations; track rec.id) {
          <li>{{ rec.text }}</li>
        }
      </ul>
    </section>
  </div>
}
